<div class="container-fluid">
  <div class="container-fluid bg-blue">
    <h1 class="text-center">Edit Your Profile</h1>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <%= render 'profile_form' %>
    </div>

    <div class="col-sm-offset-8 ">
      <span class="glyphicon glyphicon-blackboard logo slideanim"></span>
    </div>
  </div>

</div>
