<p id="notice"><%= notice %></p>

<div class="container-fluid bg-blue jumbotron">
  <h1>My Scholarship Results</h1>
</div>

<div class="container-fluid">


  <% @scholarship.each do |match| %>
  <div class="row">
    <div class="col-md-8">
      <%= link_to "#{match.name}", student_scholarship_path(@student, @scholarship) %>
      <br>
      <br>
    </div>

  </div>
  <% end %>

  <button type="button" class="btn btn-default"><%= link_to 'Apply Now', new_student_payment_path %></button>

</div>

</div>
