<p id="notice"><%= notice %></p>

<h1>Listing Results</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @match6.each do |match| %>
    <br>
    <%= match %>
    <br>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', student_scholarships_path %>
