<% if user_signed_in? %>
<p>Welcome to OneScholarship <%= current_user.email %></p>

<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>

<% else %>
<p>You are not logged in.</p>

<% end %>

