<br>
<br>
<br>
<% if user_signed_in? %>
<div class="container">
  <h4 class="text-right text-capitalize">Welcome to OneScholarship <%= current_user.email %></h4>
</div>

<div class="container">
  <p class="text-right"><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></p>
</div>


<% else %>
<div class="container">
  <h4 class="text-right text-capitalize">You are not logged in.</h4>
</div>

<div class="container">
  <p class="text-right">
    <button class="btn btn-default"><%= link_to 'Login', new_user_session_path %></button></p>

  </div>

  <% end %>

